bracex
click
ghp-import
importlib-metadata
Jinja2
Markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-awesome-pages-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-pagenav-generator @ git+https://github.com/Andre601/mkdocs-pagenav-generator@acb5b1561695e8f69d67fda029779f40e4b0beef
mkdocs-redirects
packaging
Pygments
pymdown-extensions
pyparsing
python-dateutil
PyYAML
pyyaml_env_tag
six
watchdog
wcmatch
zipp
