  qbittorrent:
    image: linuxserver/qbittorrent
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK_SET=022
      - WEBUI_PORT=15080
    volumes:
      - ./volumes/qbittorrent/config:/config
      - ./volumes/qbittorrent/downloads:/downloads
    ports:
      - "6881:6881"
      - "6881:6881/udp"
      - "15080:15080"
      - "1080:1080"

